#json {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    /*font-family: "Courier 10 Pitch", Courier, monospace;*/
    font-size: 13px;
    line-height: 180%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    float: left;
    margin-bottom: 20px;
}

.object-div {
    border-left: 1px dotted deepskyblue;
    margin-left: 6px;
    padding-left: 14px;
}

.leaf-div {
    border-left: 1px dotted deepskyblue;
    margin-left: 6px;
    padding-left: 14px;
}

.key-span {
    margin-left: 10px;
    margin-right: 10px;
}

.fa {
    cursor: pointer;
    color: deepskyblue;
}

.buttons-span .fa {
    margin-right: 5px;
}

.json-with-key-div label > .buttons-span {
    visibility: hidden;
}

.json-with-key-div label:hover > .buttons-span {
    visibility: visible;
}

.hidden {
    display: none;
}

.edited-span {
    margin-left: 20px;
    font-size: 80%;
}

.text-input {
    border: none;
    border-bottom: 1px gray solid;
    background-color: transparent;
}

.text-input:focus {
    outline: none;
}

.text-edited-input {
    background-color: #e7f5fe;
}

.type-tag-span {
    margin-left: 5px;
    display: inline-block;
    max-width: 100px;
    line-height: 13px;
    padding: 0 4px;
    /*background-color: deepskyblue;*/
    border: 1px solid deepskyblue;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*overflow: hidden;*/
    color: deepskyblue;
    font-size: 9px;
    text-decoration: none;
    cursor: pointer;
}

.type-tag-span-selected {
    background-color: deepskyblue;
    color: white;
    cursor: default;
}
.type-tag-span.red {
    background-color: #E30059;
}

.type-tag-span.orange {
    background-color: #F7840E;
}

.type-tag-span.green {
    background-color: #68B603;
}

.type-tag-span.blue {
    background-color: #009dd2;
}

.type-tag-span.purple {
    background-color: #86377B;
}

.add-new-div {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #e7f5fe;
}

