#json {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    /*font-family: "Courier 10 Pitch", Courier, monospace;*/
    font-size: 13px;
    line-height: 180%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}

.object-div {
    border-left: 1px dotted deepskyblue;
    margin-left: 6px;
    padding-left: 14px;
}

.leaf-div {
    border-left: 1px dotted deepskyblue;
    margin-left: 6px;
    padding-left: 14px;
}

.key-span {
    margin-left: 10px;
    margin-right: 10px;
}

.fa {
    cursor: pointer;
    color: deepskyblue;
}

.json-with-key-div label > .fa.fa-trash {
    visibility: hidden;
}

.json-with-key-div label:hover > .fa.fa-trash {
    visibility: visible;
}

.hidden {
    display: none;
}

.edited-span {
    margin-left: 20px;
    font-size: 80%;
}

.text-input {
    border: none;
    border-bottom: 1px gray solid;
}

.text-input:focus {
    outline: none;
}

.text-edited-input {
    background-color: #e7f5fe;
}